<div class="righttop">
    <a href="/anime" class="talent">
        <div class="talenticon" id="animation"></div>
        <!-- <div class="talentype" >Animation</div> -->
    </a>
    <a href="/music" class="talent">
        <div class="talenticon" id="music"></div>
        <!-- <div class="talentype">Music</div> -->
    </a>
    <a href="/paintings" class="talent">
        <div class="talenticon" id="painting"></div>
        <!-- <div class="talentype">Painting</div> -->
    </a>
    <a href="/dance" class="talent">
        <div class="talenticon" id="dance"></div>
        <!-- <div class="talentype">Dance</div> -->
    </a>
</div>