<div class="left">
    <div class="dp"></div>
    <div class="options">
        <div class="optionstitle"><a href="/anime">Home</a></div>
        <div class="optionstitle"><a href="/paintings">Explore</a></div>
        <div class="optionstitle"><a href="/upload">Upload</a></div>
    </div>
    <!-- <div class="optionstitle">Login</div> -->
</div>